<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VideoConverter.WindowsService.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="PostgreSQL"
         connectionString="Host=localhost;Database=dbc01;Username=runtime;Password=runtime;Search Path=runtime;"
         providerName="Npgsql" />
  </connectionStrings>
  <nlog autoReload="true">
    <!-- See https://github.com/nlog/nlog/wiki/Configuration-file -->
    <targets>
      <!-- a single file called <service>.exe.log next to the <service>.exe -->
      <target type="File"
              name="file"
              fileName="${basedir}\${appdomain:format={1\}}.log"
              layout="${longdate} ${level:uppercase=true} (${threadname}/${threadid}) ${logger} - ${message}">
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="file" />
    </rules>
  </nlog>
  <applicationSettings>
    <VideoConverter.WindowsService.App>
      <setting name="HttpPort" serializeAs="String">
        <value>5050</value>
      </setting>
    </VideoConverter.WindowsService.App>
  </applicationSettings>
</configuration>